 .royalvictitle{
    font-family: 'Varela Round', sans-serif;
    font-size: x-large;
}

.home_square_br{
    margin-left: 57px;
}
.home_square_ur{
    margin-left: 57px;
}

#equalheight {
    overflow: hidden; 
}

.fix{
    height: 500px;
}

/* Portrait tablet to landscape and desktop - above doesn't change */ 
@media (min-width: 768px) and (max-width: 979px) { 
    
    .home_square_br{
        margin-left:0px;
    }
    .home_square_ur{
        margin-left:0px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .home_square_br{
        margin-left:0px;
    }
    .home_square_ur{
        margin-left:0px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .home_square_br{
        margin-left:0px;
    }
    .home_square_ur{
        margin-left:0px;
    }
}
