{% extends "base.html" %}
{% block title %} - About{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>How it works ?</h1>
  </div>
  <div class="row">
    <div class="col-lg-4">
        <h2>How does is work?</h2>
        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <h3>How does is work fsdfaa</h3>
        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
    </div>
    <div class="col-lg-4">
        <h2>Our Mission?</h2>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <h3>How does is work?</h3>
        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
 
    </div>
    <div class="col-lg-4">
        <h2>Other questions ?</h2>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <h3>How does is work?</h3>
        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>
        <p>bla bla bla bla blabla bla bla bla bla</p>

    </div>
  </div>
{% endblock %}
