{% extends "base.html" %}
{% block title %} - About{% endblock %}
{% block content %}
<div class="jumbotron">
  {% for a in about %} 
  <h1>{{ a.bigTitle }}</h1>
  </div>
  <div class="row">
    <div class="col-lg-4">
        <h2>{{ a.hditwTitle }}</h2>
        <p>{{ a.hdiwContent|safe }}</p>
    </div>
    <div class="col-lg-4">
        <h2>{{ a.missionTitle }}</h2>
        <p>{{ a.missionContent|safe }}</p>
    </div>
    <div class="col-lg-4">
        <h2>{{ a.QuestionTitle }}</h2>
        <p>{{ a.QuestionContent }}</p>
    </div>
  </div>
  {% endfor %}
{% endblock %}
